<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispositivo</title>
</head>
<body>
    <h2 style="text-align: center;">Dispositivo PC's</h2>

    <p>
        <%= JSON.stringify(data) %>
    </p>
</body>
</html>